/* Reset some default styles */
body, h1, h2, p {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
  }
  
  /* Global styles */
  .about-us {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
    font-family: 'Roboto', sans-serif;
    color: #333;
  }
  
  /* About Us image */
  .about-us-image img {
    width: 100%;
    max-width: 800px;
    border-radius: 5px;
    margin-bottom: 1rem;
  }

  .main-content-end{
    margin: 70px;
    margin-bottom: 70px;
    padding-bottom: 70px;
  }
  
  /* About Us title */
  .about-us-inner h1.about.title {
    font-size: 2.5rem;
    color: #007bff;
    margin-bottom: 1rem;
  }
  
  /* Subheadings */
  .about-us-inner h1, .about-us-inner h2 {
    font-size: 1.8rem;
    font-weight: bold;
    color: #007bff;
    margin-top: 2rem;
    margin-bottom: 1rem;
  }
  
  /* Paragraphs */
  .about-us-inner p {
    font-size: 1.2rem;
    line-height: 1.6;
    margin-bottom: 1.5rem;
  }
  
  /* Services section */
  .about-us-inner h1:nth-child(8) {
    margin-top: 3rem;
  }
  
  /* Contact section */
  .about-us-inner h1:last-child {
    margin-top: 3rem;
    font-size: 2rem;
    font-weight: bold;
    color: #007bff;
    text-align: center;
    /* margin-bottom: 3rem; */
  }
  
  .about-us-inner a {
    color: #007bff;
    text-decoration: none;
    transition: color 0.3s ease;
  }
  
  .about-us-inner a:hover {
    color: #0056b3;
  }
  
  /* Navbar */
  .navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 70px; /* Adjust the height of the navbar as needed */
    background-color: #0f3057;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 1rem;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    z-index: 9999; /* Adjust the z-index to make sure the navbar is above other content */
  }
  
  /* Footer */


  
  /* Mobile responsiveness */
  @media screen and (max-width: 768px) {
    .about-us {
      padding: 1rem;
    }
  
    .about-us-image img {
      max-width: 100%;
    }
  
    .about-us-inner h1.about.title {
      font-size: 2rem;
    }
  
    .about-us-inner h1, .about-us-inner h2 {
      font-size: 1.5rem;
    }
  
    .about-us-inner p {
      font-size: 1rem;
    }
  
    .navbar {
      height: 60px;
      padding: 0.5rem;
    }
  
    .navbar, .footer {
      font-size: 0.9rem;
    }
  }
  