@import url('https://fonts.googleapis.com/css2?family=Poller+One&display=swap');

.login-container {
  justify-content: center;
  align-items: center;
  background-color: green;
  height: 100vh;
  background-image: url('../../../assets/Desktop\ -\ 1.jpg');
  background-size: cover;
  
}


.page-heading {
  padding: 4px;
  font-size: 5rem;
  text-shadow: #000000;
  text-decoration: #000000;
  font-weight: 700;
  text-align: center;
  font-family: "Poller one", cursive;
  color: green;

}

.login-form {
  background-color: #ffecec;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  height: 30rem;
  width: 30rem;
  border-radius: 2rem;
  margin: 0 auto;
  margin-top: 75px;
}

.form-heading {
  font-size: 3rem;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 2rem;
  color: #333;
  font-family: sans-serif;
}

.form-input::placeholder {
  font-size: 1rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
  color: #e6d5d5;
}





.form-input {
  border-radius: 0.2rem;
  padding: 1rem;
  margin-bottom: 1.5rem;
}

.login-button {
  background-color: rgb(235, 235, 31);
  color: #fff;
  padding: 0.75rem 1rem;
  font-size: 1.1rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.login-button:hover {
  background-color: #444;
}


.register-link {
  display: block;
  text-align: center;
  margin-top: 1.5rem;
  color: #555;
  text-decoration: none;
}

.register-link:hover {
  text-decoration: underline;
}